{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/remove.css' %}">
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <title>IBF</title>
        <style>
            body {
            background-image: url("{% static 'assets/1.jpeg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            }
        </style>

    </head>
    
<body>    
    <header>
        <h1>Instituto Biblico Fé</h1>
    </header>
    {% include 'home/partials/_menu.html' %}
    {% block content %} {% endblock %}
    {% include 'home/partials/_footer.html' %}
</body>
</html>