{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <main>
        <section id="login" style="max-width: 400px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <h2 class="h2login" style="text-align: center; color: #333; margin-bottom: 30px; font-size: 45px;">LOGIN</h2>
            <form id="loginForm" method="POST" action="{% url 'login' %}" style="display: flex; flex-direction: column; gap: 15px;">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div style="display: flex; flex-direction: column;">
                    <label for="{{ field.id_for_label }}" style="margin-bottom: 5px; color: #555;">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <button type="submit" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;">Logar</button>
                    <a href="{% url 'cadastro' %}" style="text-decoration: none;">
                        <button type="button" style="padding: 10px 20px; background-color: #008CBA; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;">Cadastro</button>
                    </a>
                </div>
            </form>
        </section>
    </main>
{% endblock %}
