{% extends 'escola/baseescola.html' %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
        <header class="cabecalho">
            <img src="{% static '/assets/logo/Logo.png' %}" alt="Logo do Instituto Biblico Fé" style="width: 250px; height: 100px;" />
            <div class="cabecalho__busca">
                <div class="busca__fundo">
                    <input class="busca__input" type="text" placeholder="O que você procura?">
                    <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
                </div>
            </div>
        </header>
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                    <h4 style="color: white; padding: 20px; font-size: 25px; text-decoration: underline;">Menu</h4>
                    <a href="{% url 'modulos' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Cursos</a>
                    <a href="#"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Módulo Atual</a>
                    <a href="#"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Módulos adicionais</a>
                    <a href="{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Deslogar-se</a>
                </nav>
            </section>
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner IBF">
                    <h1 class="banner__titulo"> A revelação da Palavra ministrada</h1>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Cursos disponiveis para você</h2>
                        <ul class="cards__lista">
                            <li class="card">
                                <a href="{% url 'curso' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/carina-nebula.png' %}" alt="foto">
                                </a>
                                <span class="card__tag">Estrelas</span>
                                <div class="card__info">
                                    <p class="card__titulo">Nome da foto</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Fonte/fotógrafo/satélite</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                                <a href="{% url 'curso' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/carina-nebula.png' %}" alt="foto">
                                </a>
                                <span class="card__tag">Estrelas</span>
                                <div class="card__info">
                                    <p class="card__titulo">Nome da foto</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Fonte/fotógrafo/satélite</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>  
                        </ul>
                    </div>
                    
                </section>
            </section>
        </main>
    </div>
    <footer class="rodape">
        <div class="rodape__icones">
            <a href="https://twitter.com/" target=”_blank” >
                <img src="{% static '/assets/ícones/1x/twitter.png' %}" alt="ícone twitter">
            </a>
            <a href="https://www.instagram.com/" target=”_blank” >
                <img src="{% static '/assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
            </a>
        </div>
        <p class="rodape__texto">Desenvolvido por Lucas Silva - (19) 98142-2055</p>
    </footer>
{% endblock %}